@font-face {
    font-family: 'Bellota';
    src:    url('fonts/bellota_regular/Bellota-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bellota';
    src:    url('fonts/bellota_bold/Bellota-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    font-family: Bellota;
}
nav {
    border-bottom: 1pt solid rgba(0, 0, 0, 0.473);
    background-color: #dbdbdb;
    color: whitesmoke;
}

.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}

.jumbotron {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/diamond_upholstery.png);
    text-align: center;
    border-bottom: 1pt solid rgba(0, 0, 0, 0.473);
    border-left: 1pt solid rgba(0, 0, 0, 0.473);
    border-right: 1pt solid rgba(0, 0, 0, 0.473);
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 2rem;
    h1 {
        font-size: 20pt;
    }
    img {
        height: 120px;
        width: 120px;
    }
}
.form {
    background-color: #15c5bd;
    color: #FFF;
    border: 4px solid #303030;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 16pt;
    u {
        color:#15c5bd;
    }
    h2 {
        background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/diamond_upholstery.png);
        border: 2px #303030 solid;
        border-radius: 10px;
        padding: 1rem;
        text-align: center;
        font-size: 30pt;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: #303030;
    }
    .firstname {
        margin-bottom: 2rem;
        input:hover {
            border: 1px blue solid;
        }
    }
    .lastname {
        margin-bottom: 2rem;
        input:hover {
            border: 1px blue solid;
        }
    }
    .gender {
        margin-bottom: 1rem;
        input:hover {
            border: 1px blue solid;
        }
    }
    .email {
        margin-bottom: 2rem;
        input:hover {
            border: 1px blue solid;
        }
    }
    .country {
        margin-bottom: 2rem;
        input:hover {
            border: 1px blue solid;
        }
    }  
    .subject {
        margin-bottom: 1rem;
        input:hover {
            border: 1px blue solid;
        }
    }
    .message {
        textarea:hover {
            border: 1px blue solid;
        }
        label{
            text-align: left;
            margin-top: 2rem;
        }
        .textareaBox{
            height: 1/5;
            width: 1/5;
            margin-top: 2rem;
        }
    }
}

.btn-primary  {
    color: black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 2px solid #303030;
    height: 70px;
    width: 150px;
    border-radius: 5%;
    background-color: #FFF;
    font-weight: bolder;
}

.footer {
    text-align: center;
    background-color: #303030;
    color: #FFF;
    height: 5rem;
    justify-content: center;
    align-items: center;
    i {
        color:  #15c5bd;
        margin: 1rem;
        font-size: 50px;
        width: 50px !important;
    }
}

.error {
    display: flex;
    justify-content: center;
    font-size: 10pt;
    color: black;
    font-weight: bold;
    text-align: center;
}

span {
    margin-top: 0.5rem;
}

a{
    display: flex;
    justify-content: right;
    text-align: right;
}
